
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    @Html.Partial("Partials/_Head")

</head>

<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    @Html.Partial("Partials/_Header")
    <!-- Slider
    ============================================= -->
        @if (ViewBag.Landing == true)
        {
            @Html.Partial("Partials/_Slider")
        }
        else
        {
            @Html.Partial("Partials/_StaticSlider")
        }

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">
                @RenderBody()
            </div>

        </section><!-- #content end -->
        <!-- Footer
        ============================================= -->
        @Html.Partial("Partials/_Footer")

    </div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
    @Html.Partial("Partials/_Foot")
    

</body>
</html>